body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #27374D;
    color: #9EB8D9;
}

.design {
    background-color: #526D82;
    margin-bottom: 10px;
    border-radius: 10px;
}
#fontbig {
    font-size: 70px;
}
#fontsmol {
    font-size: 30px;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #DDE6ED;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#puzzle{
    width: 360px;
    height: 360px;
    background-color: #9EB8D9;
    border: 7px solid #9DB2BF;

    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#puzzle img {
    width: 118px;
    height: 118px;
    border: 1px solid #9DB2BF;
}